@font-face {
  font-family: robotoMono;
  src: url(./fonts/RobotoMono-Regular.ttf);
}

:root {
  --black: #141115;
  --red: #e63946;
  --orange: #e76f51;
  --green: #a7c957;
}

body {
  font-family: robotoMono;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.form__input {
  height: 2rem;
  border: none;
  outline: none;
}

.form__input--line-bottom {
  border-bottom: 1px var(--black) solid;
}

.form__input:hover {
  cursor: pointer;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.progress__extern {
  height: 2rem;
  width: 100%;
}

.progress__intern {
  border-radius: 15px;
  height: 100%;
  width: 0%;
}

.progress__intern--red {
  background-color: var(--red);
}

.progress__intern--orange {
  background-color: var(--orange);
}

.progress__intern--green {
  background-color: var(--green);
}
