body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 10px;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.progress__extern {
  border: 1px black solid;
  height: 2rem;
  width: 100%;
}

.progress__intern {
  background-color: black;
  height: 100%;
  width: 0%;
}
